<% if @featured_users.any? %>

  <% @featured_users.each do |u|%>
    <% photos = u.photos.all %>
    <% photos.each do |p| %>
      <div class="photo-card">
        <h3><%= p.title %></h3>
        <p>Taken by: <%= p.user.username %></p>
        <div class="image-holder">
          <%= image_tag url_for(p.image_file) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
