<% if @featured_users.any? %>

  <% @featured_users.each do |u|%>
  <% if u.photos.any? %>
    <% photo = u.photos.all.first %>

      <div class="photo-card">
        <h3><%= photo.title %></h3>
        <p>Taken by: <%= photo.user.username %></p>
        <div class="image-holder">
          <%= image_tag url_for(photo.image_file) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
