// @import 'welcome';
// @import 'devise';

.devise-form {
  width: 33%;
  margin: auto;
}

.nav-item-center{
  background-color: pink;
  display: inline;
  margin-left: 33%;
  position: absolute;
}

.nav-item-right{
  float: right;
}
