// @import 'welcome';
// @import 'devise';

.devise-form {
  width: 33%;
  margin: auto;
}

.nav-item-center{
  display: inline;
  margin-left: 33%;
  position: absolute;
}

.nav-item-right{
  float: right;
}

.upload-form label,input{
  display: block;
  margin-bottom: 10px;
  width: 100%;

}

.upload-form textarea{
  width: 100%;
  height: 100px;
}
