// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label{
  display: block;
}

input {
  display :block;
}

.upload-form{
  width: 33%;
  margin: auto;
}

.photo-card{
  width: 500px;
  max-height: 600px;
  margin: auto;
  margin-bottom: 30px;
  border: 1px lightgray solid;
  border-radius: 5px;
}

.photo-card h3{
  margin-left: 10%;
  margin-top: 1%;
}

.photo-card p{
  margin-left: 10%;
}

.image-holder {
  height: 400px;
  text-align: center;
  margin-bottom: 30px;
}
.image-holder img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.upload-alert{
  padding: 20px;
  text-align: center;
}
